.AIdiv{
    border:1px solid;
    border-radius: 2em;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.5%;
    height: 50%;
}

.pAI{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8vw;
    font-family:Georgia,serif;
}

.line{
    border-bottom: 2px solid #ccc;
    display: none;
}

.activeLine{
    border-bottom: 2px solid #ccc;
}

.hintDiv{
    justify-content : space-around;
    overflow-x: auto;
    border: 1px dashed;
    border-radius: 1em;
    color: black;
    font-family:Georgia,serif;
    font-size: 0.8vw;
    font-weight: bold;
    margin-top: 1%;
    padding: 0 1% 0 1%;
}

.resHidden{
    display: none;
}