#AIcontainer{
    width : 39%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5% 0 0.5%;
}

/* containing Ai names, buttons and scroll */
.AImenu{
    display: flex;
    flex-direction: row;
}

.AnnonceDiv{
    display: flex;
    flex-direction: row;
    padding : 1%;
}

.Annonce{
    font-size:1.1vw;
    width : 84%;
    text-align : center;
}

.buttonAnnonce{
    width: 14%;
    margin: 0 1% 0 1%;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.3rem 'Georgia', sans-serif;
    border-radius: 1em;
    font-size:1.1vw;
    display: 'none';
}

.buttonAnnonce:hover{
    color : rgb(253, 253, 253);
}

li{
    font-size: 1.1vw;
}

#EmbeddingsZone{
    width: 100%;
    height: 100%;
}

.details{
    display : 'none';
    padding-left: 7%;
}

#LexicalZone{
    width: 100%;
    height: 100%;
}
